{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 10%"
        }
      }
    ],
    "@babel/flow",
    "@babel/react"
  ],
  "plugins": ["dynamic-import-webpack"]
}
